

<section class="target_box">
    <div id="showall" class="target-1 tabdetail">
       <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l1.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l2.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l3.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l4.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l5.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l6.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="photo-section">
            <div id="all" class="tabdetail ">
                <div class="all-project">
                    <div class="block" onclick="location.href='jobfair';">
                        <div class="image">
                            <img src="../../../assets/images/l7.png" alt="">
                        </div>
                        <div class="details">
                            <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                                per their designation and preferred location.
                            </p>
                        </div>
                        <div class="button">
                            <span>Jobs Fair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>