@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: #666;
}
 img{
    width: 100%;
    max-width: 100%;
    height: auto;
}


.container{
    max-width:1200px;
    width: 100%;
    margin: 0px auto;
    .tabdetail{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    
       .all-project{
        display: flex;
        flex-wrap: wrap;

           .block{
            display: flex;
            width: calc(33.33% - 40px);
            flex-direction: row;
            // flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding: 20px;
            margin-right: 40px;
            margin-bottom: 40px;
            border-radius: 10px;
            box-shadow: 0 2px 15px 0 rgb(37 42 55 /8%);
            position: relative;
            padding-bottom: 120px;
            overflow: hidden;
            color: #fff;
            min-height: 310px;
            cursor: pointer;

                &:hover .image{
               transform: scale(1.15);
               }
                   &:hover .image::after{
                   background: #000000b0; 
                   }
                      &:hover .details{
                      opacity: 1; 
                      }
                       &:hover .bottom::after{
                       transform: translateY(-90px) skew(0, -7deg);
                      }
                   
            }
                
        
            .image{
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: all 0.5s ease;
               &::after{
               content: "";
               height: 100%;
               width: 100%;
               background: none;
               z-index: 1;
               position: absolute;
               top: 0;
               left: 0;
               transition: all 0.5s ease;
               } 
               img{
               width: 100%;
               height: 100%;
               max-width: initial;
               object-fit: cover;
               position: relative;
               z-index: 0;
               }   
            }  
                    
            .details{
            opacity: 0;
            transition: all 0.5s ease;
            font-size: 20px;
            font-weight: 100;

               p{
               text-align: center;
               color: #fff;
                                        
                   &:hover{
                   opacity: 1;
                   }
                }                      
            }
                
           .bottom{
            position: absolute;
            bottom: 0px;
            left: 0px;
            margin: 0px;
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;
            cursor: pointer;
        
                &::after{
                content: "";
                background-color: #070b5f;
                bottom: -150px;
                height: 154px;
                left: 0;
                position: absolute;
                transform: translateY(0) skew(0, 0);
                transition: transform 0.2s ease-out;
                width: 100%;
                }
           
                    &::before{
                    content: "";
                    transform: translateY(-90px) skew(0, -7deg);
                    background: #00000050;
                    height: 100%;
                    height: 154px;
                    width: 100%;
                    position: absolute;
                    bottom: -154px;
                    left: 0;
                    }
        

                  
                    span{
                    display: block;
                    margin-right: 60px;
                    position: relative;
                    z-index: 1;
                    color: #fff;
                    font-size: 18px;
                    transition: all 0.5s;
                    opacity: 1;
                    font-size: 20px;
                    font-weight: 100;
                } 

            }
            .icon{
            display: block;
            position: absolute;
            right: 29px;
            bottom: 30px;
            font-size: 20px;
            border: 2px solid white;
            border-radius: 50px;
            padding: 6px 11px;
            }
    
                
        }
    }

}


.container{
    max-width:1200px;
    width: 100%;
    margin: 0px auto;
    .tabdetail{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;

        .block-p{
            display: flex;
            flex-wrap: wrap;
            border-end-start-radius: 6px;
            margin-bottom: 20px;
            .tabdetail-image{
                width: 40%;
                text-align: left;
                align-self: stretch;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    max-height: 360px;
                }
            }
            .tabdetail-text{
                width: 60%;
                position: relative;
                max-height: 360px;
                &.sky-blue{
                    background-image: linear-gradient(-90deg,#6ae9a4,#5bd5e3);
                    .position-bg-right-bottom{
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        z-index: 0;
                }   }
                    &.orange-yellow{
                    background-image: linear-gradient(-90deg, #fad961, #f76b1c);
                        .position-bg-top-left{
                            position: absolute;
                            top:  0px;
                            left: 0px;
                            z-index: 0;
                           transform: rotate(180deg)
                        
                        }
                    }
                    &.pink{
                    background-image: linear-gradient(-90deg, #ed1566, #AF0637);

                        .position-bg-left-bottom{
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                            z-index: 0;
                           transform: rotate(180deg)
                        }
                    }    
                            // .position-bg-top-right{
                                //     position: absolute;
                                //     top:  0px;
                                //     right: 0px;
                                //     z-index: 0;
                                //    transform: rotate(272deg)
                                
                                // }
                                
                    // }
                
                .text{
                    text-align: left;
                    color: white;
                    padding: 36px 36px;
                    .text-title{
                        font-size: 37px;
                        font-weight: 400;
                        opacity: 0.95;
                        font-family: inherit;
                    }
                       p{
                     width: 100%;
                     color: white;
                     opacity: 0.95;
                     font-size: 22px;
                     font-weight: 100;
                     z-index: 1;
                     margin-top: 20px;
                       }
                
                }
                .btn{
                    background: #ffffff50;
                    border: none;
                    border-radius: 31px;
                    display: flex;
                    justify-content: flex-end;
                    padding: 20px 30px;
                    position: absolute;
                    color: white;
                    width: 22%;
                    right: 52px;
                    bottom: 26px;
                    list-style: none;
                    
                    &:hover{
                    background: #0b1075;

                    }
                }
            }
        }
    }   
}
.latestblog{
    background: #f7f9fd;
    padding: 70px 0;
   .container{
    max-width:1200px;
    width: 100%;
    margin: 0px auto;
        .title{
        display: block;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 20px;
        }
        .blog{
            display: flex;
            flex-wrap: wrap;
        

            .box{
                width: calc(50% - 40px);
                margin: 20px;
                text-decoration: none;
                transform: translatex(0px);
                transition: all 0.5s ease;
                &:hover{
                    transform: translatex(-10px);

                }
            
               .top{
               
                 .image{
                    border-radius: 10px;
                    overflow: hidden;
                    height: 250px;
                    box-shadow: 0 2px 15px 0 rgb(37 42 55 / 8%);
                
                    }
                }
        
              .bottom{
               font-size: 20px;
                  h3{
                      font-size: 20px;
                      padding: 20px 13px;
                  }
               }
               
            }
            
        }
        .btn{
            display: block;
            text-align: center;
            padding: 12px 46px;
            background-color: #0b1075;
            color: white;
            text-transform: uppercase;
            border-radius: 35px;
            margin: 2px 516px;
            &:hover{
                background-color:yellow;
            }
           }  
    }
}   







  
    

       
   
                