<section class="container">
    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block">
                <div class="image">
                    <img src="../../../assets/images/l1.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>Jobs Fair</span>
                </div>
                <div class="icon">
                 <span><i class="fa fa-angle-double-right"></i></span>
                </div>
            </div>
        </div>
    </div>


    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l11.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>Jobs fair Recruiter</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l4.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>bookamed</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l9.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>leadiq</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l2.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>seller-lift</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l3.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>unipine</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l77.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>bluesurge</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l5.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>zeeopzoop</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l7.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>magicposer</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l8.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>aisec</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
            </div>
        </div>
    </div>

    <div id="all" class="tabdetail ">
        <div class="all-project">
            <div class="block" onclick="location.href='jobfair';">
                <div class="image">
                    <img src="../../../assets/images/l10.png" alt="">
                </div>
                <div class="details">
                    <p>Jobs Fair is the online hub for job seekers who are looking for a job as
                        per their designation and preferred location.
                    </p>
                </div>
                <div class="bottom">
                    <span>stumplog</span>
                </div>
                <div class="icon">
                    <span><i class="fa fa-angle-double-right"></i></span>
                   </div>
                
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div id="saffing" class="tabdetail">
            <div class=" block-p">
                <div class="tabdetail-image">
                    <img src="../../../assets/images/l1.png" alt="">
                </div>
                <div class="tabdetail-text sky-blue">
                    <div class="position-bg  ">
                        <img src="../../../assets/images/bg1.png" alt="">
                    </div>
                    <div class="text">
                        <div class="text-title">job-Fair</div>
                        <p>

                            Jobs Fair is the online hub for job seekerswhoare looking for a job as per their designation
                            and
                            preferred
                            location.It isa portal where you can get access to almost all type of jobsrequirements
                            from different job sites.
                        </p>
                    </div>
                    <div class="btn">
                        <span>View project</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>