
<div class="container1">
    <div class="para1"><p>paragraph1</p> </div>
    <div class="para1"><p>paragraph2</p> </div>
    <div class="para1"><p>paragraph3</p> </div>
    <div id="para" class="para1"><p>paragraph4</p> </div>
    <div class="para1"><p>paragraph5</p> </div>

        <ul>
            <li>home</li>
            <li>about</li>
            <li>service</li>
            <li>concact</li>

        </ul>
   

</div>



















<div class="container">
    <div class="row">
        <p>this is my paragraph</p>
        <div>
            <p>this is my another paragraph</p>
        </div>
        <ul>
            <li>
                <p>this is inside li paragraph</p>
            </li>
            <span>
                <p>this is my span paragraph</p>
            </span>
            <p>this is my paragraph</p>
        </ul>

    </div>
    <p>this is my outside paragraph</p>
</div>


<div class="rows">
    <p>this is my paragraph</p>
    <div>
        <p>this is my another paragraph</p>
    </div>
    <ul>
        <li>
            <p>this is inside li paragraph</p>
        </li>
        <span>
            <p>this is my span paragraph</p>
        </span>
        <p>this is my paragraph</p>
    </ul>

    <p>this is my outside paragraph</p>
</div>
<div class="att">
<h2>CSS [attribute] Selector</h2>
<div class="att1">

<a href="http://www.wikipedia.org" >wikipedia.org</a><br>

<a href="http://www.google.com" target="_blank">google.com</a><br>
<a href="http://www.facebook.com" target="_top">facebook.com</a>
</div>
</div>


