<!-- <app-service></app-service> -->
<!-- <app-portfolio></app-portfolio>   -->
<!-- <app-all></app-all> -->
<!-- <app-jobs-fair></app-jobs-fair> -->
<!-- <app-rotate></app-rotate> -->
<!-- <app-border></app-border> -->
<app-pseudo></app-pseudo>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, odio.

</p>
<br>
<div [ngClass]="GetTheme()">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>

<input type="radio" name="radiobtn" (click)=" ChooseClass(1)"/>
<input type="radio" name="radiobtn" (click)=" ChooseClass(2)"/> -->

