<section id="jobs-fair">
    <div class="bg">
        <div class="container">
            <div class="title"> jobs-fair</div>
            <div class="discription">
                <h2>Lead Generation</h2>
                <p class="text">
                    Jobs Fair is the online hub for job seekers who are looking for a job as per
                    their designation and preferred location. It is a portal where you can get access to almost all
                    type of jobs requirements from different job sites.
                </p>
                <!-- <div class="image">
                    <img src="../../../assets/images/jobsfair1.png" alt="">
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="lead-image bottom">
            <img src="../../../assets/images/jobsfair1.png" alt="">

        </div>
    </div>

    <div class="title">
        <span>
            Client requirement
        </span>
        <div class="icon">
           <span> <i class="fas fa-braille"></i></span>
        </div>
    </div>
    <div class="details"></div>
    
</section>