<div class="container">
    <div class="box">
        
    </div>
    <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident accusamus cum, ipsam voluptatibus facere
            corrupti dolore? Fuga enim praesentium inventore iure explicabo suscipit?</p>
    </div>
    <div class="list">
        <ul>
            <li>home</li>
            <li>about</li>
            <li>service</li>
            <li>contact</li>
            <li>email</li>
        </ul>
        <button class="btn">view all</button>
    </div>
    <div class="para1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident accusamus cum, ipsam voluptatibus facere
            corrupti dolore? Fuga enim praesentium inventore iure explicabo suscipit?</p>
    </div>
   
</div>