<section id="trasform">
    <header>

        <nav class="navbar">
            <ul>
                <li><a>home</a></li>
                <li><a>about</a></li>
                <li><a>service</a></li>
                
                
            </ul>
        </nav>
    </header>
        <h1>tranform</h1>
    <div class="container">
        <div class="box1">
            rotate any angle
        </div>
        <div class="box2">
            transform skew
        </div>
        <div class="box3">
            rotate x,y,z
        </div>
        <div class="box4">
            tranform scale
        </div>
        <div class="box5">
            tranform origin
        </div>
        <div class="box6">
            tranform translate
        </div>
    </div>
</section>

<section id="position">
    <h1>position</h1>
    <div class="container">
       
        <div class="box" id="box7">
            position absolute
        </div>
        <div class="box" id="box8">
            position reletive

        </div>
        <div class="box" id="box9">
            position fixed

        </div>
        <div class="box" id="box10">
            position sticky

        </div>
        <div class="box" id="box11">
            position static

        </div>
        </div>
    <div class="image">
        <img src="../../../assets/images/l1.png" alt="">
        <p>my first image</p>
    </div>

</section>
<section>
    <div class="container">
        <h1>Visibility</h1>
        <div class="box hidden" id="box12"></div>
        <div class="box noun" id="box13"></div>
        

    </div>
</section>