<section id="trasform">
    <header>

        <nav class="navbar">
            <ul>
                <li><a>home</a></li>
                <li><a>about</a></li>
                <li><a>service</a></li>


            </ul>
        </nav>
    </header>
    <h1>tranform</h1>
    <div class="container">
        <div class="box1">
            rotate any angle
        </div>
        <div class="box2">
            transform skew
        </div>
        <div class="box3">
            rotate x,y,z
        </div>
        <div class="box4">
            tranform scale
        </div>
        <div class="box5">
            tranform origin
        </div>
        <div class="box6">
            tranform translate
        </div>
    </div>
</section>

<section id="position">
    <h1>position</h1>
    <div class="container">

        <div class="box" id="box7">
            position absolute
        </div>
        <div class="box" id="box8">
            position reletive

        </div>
        <!-- <div class="box" id="box9">
            position fixed

        </div> -->
        <div class="box" id="box10">
            position sticky

        </div>
        <div class="box" id="box11">
            position static

        </div>
    </div>
    <div class="image">
        <img src="../../../assets/images/l1.png" alt="">
        <p>my first image</p>
    </div>

</section>
<section id="Visibility">
    <div class="container">
        <h1>Visibility</h1>
        <div class="box noun" id="box13">hidden</div>
        <div class="box hidden" id="box12">noun</div>
        <div class="box noun" id="box14">visible</div>
    </div>
</section>
<section id="opacity">
    <div class="container">
        <h1>opacity</h1>
        <div class="image">
            <img src="../../../assets/images/l1.png" alt="">
            <p>my first image</p>
        </div>
        <div class="box" id="box15"></div>
        <div class="box" id="box16"></div>
    </div>
</section>
<section id="White-space">
    <div class="p1">
        <p>
            no wrap property dolor sit amet consectetur adipisicing elit. Placeat cum minima fugiat voluptas. Illum fuga
            quas adipisci delectus dolor totam iure cupiditate est dolorem at dignissimos id labore, esse sapiente nisi
            omnis odio deserunt nesciunt ipsa possimus sed recusandae dicta! Omnis excepturi dolores aut, atque in harum
            a nihil vitae.
        </p>
    </div>
    <div class="p2">
        <p>
            pre property dolor sit amet consectetur adipisicing elit. Placeat cum minima fugiat voluptas. Illum fuga
            quas adipisci delectus dolor totam iure cupiditate est dolorem at dignissimos id labore, esse sapiente nisi
            omnis odio deserunt nesciunt ipsa possimus sed recusandae dicta! Omnis excepturi dolores aut, atque in harum
            a nihil vitae.
        </p>
    </div>
    <div class="p3">
        <p>
            pre-line property dolor sit amet consectetur adipisicing elit. Placeat cum minima fugiat voluptas. Illum
            fuga quas adipisci delectus dolor totam iure cupiditate est dolorem at dignissimos id labore, esse sapiente
            nisi omnis odio deserunt nesciunt ipsa possimus sed recusandae dicta! Omnis excepturi dolores aut, atque in
            harum a nihil vitae.
        </p>
    </div>
    <div class="p4">
        <p>
            pre-wrap property dolor sit amet consectetur adipisicing elit. Placeat cum minima fugiat voluptas. Illum
            fuga quas adipisci delectus dolor totam iure cupiditate est dolorem at dignissimos id labore, esse sapiente
            nisi omnis odio deserunt nesciunt ipsa possimus sed recusandae dicta! Omnis excepturi dolores aut, atque in
            harum a nihil vitae.
        </p>
    </div>

</section> -->
<section id="display">
    <h1>display property</h1>
    <div class="d1 box"> displaynoun</div>
    <div> adipisicing elit. Veniam placeat vitae eveniet enim aut consectetur fuga
        dolorem quod et molestias? Ex neque aliquam vero vitae architecto harum cupiditate, eos amet quae quidem
        voluptatum! At <span class="display-block">display-block</span>consectetur vero sit, ea aperiam eum debitis
        sequi quasi unde. Iure quas omnis explicabo deserunt
        hic sint quidem dicta iusto nobis ipsa. Id dolor<span class="display-inline-block">display-inline-block</span>
        facere reprehenderit, architecto soluta incidunt iure autem in
        qui commodi similique iusto non, nobis officiis debitis ullam maiores aut ex sint quis saepe ducimus eius. Quam,
        dolorum? Ratione blanditiis rerum consequuntur,<span class="display-inline">display-inline</span> debitis,
        reiciendis, commodi maxime vitae excepturi numquam
        quisquam doloribus fugiat cupiditate?</div>

</section>
<section id="flex">
    <div class="flex">
        <h1>flex</h1>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <div class="flex column">
        <h1>direction column</h1>
        <p>hello</p>
        <p>how are you</p>
        <p>i am fine</p>

    </div>
    <div class="flex  column-reverse">
        <h1>direction column reverse</h1>
        <p>hello</p>
        <p>how are you</p>
        <p>i am fine</p>
    </div>
    <div class="flex warp">
        <h1>warp</h1>

        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>

    </div>

    <div class="flex warp-reverse">
        <h1>warp-reverse</h1>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>

    </div>
    <div class="flex  flow">
        <h1>flow</h1>
        <p>hello</p>
        <p>how are you</p>
        <p>i am fine</p>
    </div>
    <div class="flex  grow">
        <h1>flex grow</h1>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box box33">3</div>

    </div>


    <div class="flex  center">
        <p>center</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <div class="flex  space-between">
        <p>space-between</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <div class="flex  space-around">
        <p>space-around</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <div class="flex  space-evenly">
        <p>space-evenly</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <div class="flex  aline-item-center">
        <p> aline-item-center</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <div class="flex  aline-flex-end">
        <p> aline-flex-end</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div>
    <!-- <div class="flex  aline-stretch">
        <p> aline-stretch</p>
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
    </div> -->

</section>
<section id="grid">
    <h1>grid</h1>
    <div class="container">

        <div class="grid column">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
            <div class="item">10</div>
        </div>
        <div class="grid repeat">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
            <div class="item">10</div>
            <p>repeat</p>
        </div>
        <div class="grid gap">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
            <div class="item">10</div>
            <p>gap</p>
        </div>
        <div class="grid row">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
            <div class="item">10</div>
            <p>row</p>
        </div>
    </div>


</section>
